<div class="container">
    <div class="row">
       <app-navbar></app-navbar> 
    </div>
    <br>
    <div class="row">
       <app-carousel></app-carousel>
    </div>
    <br>
    <div class="row">
    <div class="col"><app-cards [img]="img1"></app-cards></div>
    <div class="col"><app-cards [img]="img2"></app-cards></div>
    <div class="col"><app-cards [img]="img3"></app-cards></div>
    </div>
    <div class="row">
      <div class="col"><app-cards [img]="img4"></app-cards></div>
      <div class="col"><app-cards [img]="img5"></app-cards></div>
      <div class="col"><app-cards [img]="img6"></app-cards></div>
      </div>
      <div class="row">
      <div class="col"><app-cards [img]="img7"></app-cards></div>
      <div class="col"><app-cards [img]="img8"></app-cards></div>
      <div class="col"><app-cards [img]="img9"></app-cards></div>
      </div>
       <div class="row">
         <div class="col"><app-cards [img]="img10"></app-cards></div>
         <div class="col"><app-cards [img]="img11"></app-cards></div>
         <div class="col"><app-cards [img]="img12"></app-cards></div>
       </div>
</div>
