<div class="card" style="width: 18rem;">
    <img src="../../../assets/images/camera/1.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/camera/2.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/camera/3.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/laptop/lap-1.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/laptop/lap-2.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/laptop/lap-3.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/men clothes/1.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/men clothes/2.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/men clothes/6.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/mobile phones/iphone-2.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/mobile phones/iphone-5.jpg" class="card-img-top" alt="...">
    <img src="../../../assets/images/mobile phones/iphone-6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>